body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-selection {
    text-align: center;
  }
  
  .quiz-selection input {
    font-size: 1rem;
    padding: 5px;
    margin: 10px 0;
    width: 100px;
    text-align: center;
  }
  
  .quiz-selection button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .quiz-selection button:hover {
    background-color: #45a049;
  }
  
  .description ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .description li {
    margin: 10px 0;
  }
  
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  